/*Hoja de estilos */ 

*{
    margin: 0;
    padding: 0;
}
nav {
    display: Flex; /* Modo flexbox*/
    justify-content:  space-around; /*alineacion horizontal */
    align-items:center; /*alineacion vertical*/
    background-color: rgb(127, 151, 196); /* color de fondo */

}
nav img {
     width: 150px; /*cambiamos el ancho de la imagen */
}
a {
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-weight: 500;/*grosor del texto*/
    padding: 15px; /* espacio dentro del enlace*/
    border-radius: 125px; /*bordes redondos */
    transition: 0.6s; /*tiempo para volver al estado normal*/ 
}

nav a:hover {
    background-color: deepskyblue; /*color de fondo al pasar el mouse*/
    scale: 1.1; /*aumentar el tamaño del enlace al pasar el mouse*/
    transition: 0.6; /*tiempo de duracion de la animacion */
}

.card img {
width: 300px; /*ancho*/
height: 300px; /*alto*/
object-fit: cover; /*para que la imagen no se aplaste*/
border-radius: 20px; /*bprdes redondeados*/
}

.card h3 {
    font-size: 23px;
    font-weight: 400;
}

.cards {
    display: flex;
    justify-content: space-evenly; /*alineacion horizontal*/
    gap: 30px; /*separacion entre los elementos */
  margin-top: 30px; /*para separar las tarjetas del menu */
  flex-wrap: wrap; /*usar varias lineas*/
}


.card {
    
    display: flex;
    flex-direction: column; 
    align-items: center;/*alineacion horizontal*/
    gap: 20px; /*separacion del texto y la imagen*/
}


